.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-room{
  display: flex;
  justify-content: space-evenly;
  padding: 30px 30px 30px 30px;

}

.chat-room-btn{
  display: flex;
  font-size: xx-large;
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}

.chat-room-btn:hover{
  background-color: #e0dfdf

}

.chat-room-btn:active {
  background-color: #e0dfdf;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.client-name{
  
  align-items: center;

  font-size: xx-large;
  background-color: white;
  border: none;
  color: black;

  padding: 15px 15px;
  margin: 25px 25px 25px 25px ;
  text-align: center;
  text-decoration: none;
  
  border-radius: 25px;
  box-shadow: 0 9px #999;
}

.chat-room-header{
  display: block;
  background-color: rgb(24, 203, 183);
  padding: 30px 30px 30px 30px;
  
}

header{
  display: block;
  
}

.not-logged-in{
  background-color: white;
}


.wrapper{
  font-size: large;
  background-color: white;
  border: none;
  color: black;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}

.message-list{
  display: flex;
  justify-content: space-evenly;
  padding: 30px 30px 30px 30px;
  text-align: left;

}

.chat-room-body{
  display: block;
  background-color: rgb(24, 203, 183);
  width: 100%;
  
}

.user{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px 20px 20px;

}

.user-list-btn{
  display: flex;
  font-size: xx-large;
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 9px #999;
  width: 200px
}

.chatroom-data{
  display: block;
  background-color: rgb(24, 203, 183);

}

.header-nav-bar{
  display: inline-flex;
  justify-content: space-evenly;
  margin-bottom: 0.7em;
}

.header-button{
  /* padding: 20%; */
  width: 100%;
  height: 150%;
  text-align: center;
  margin-right: 1.9em;
}

.side-bar{
  display: inline-block;
  align-items: center;
  background-color: rgb(24, 203, 183);
}

.home-main{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px
}

.user-role{
  font-size: medium;
}

.direct-messages{
  text-align: center;
}

.chatroom-title{
  display: block;
  align-items: center;
  background-color: rgb(24, 203, 183);
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 1em;
  text-align: center;
  font-size: x-large;
}

.adding-user-multiselect{
  width: 20%;
  margin-bottom: 1em;
}

.message-scroll{
  background-color: whitesmoke;
  overflow-y: scroll;
  height: 30em;
}

.add-user-form{
  margin-bottom: 1em;
}
